
@{
    Layout = "_AdminLayout";
}
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
<form class="form-horizontal form-bordered" action="AddArticle" method="post">
    <div class="form-group">
        <label class="col-md-3 control-label">Language</label>
        <div class="col-md-6">
            <select data-plugin-selectTwo class="form-control populate">
                <optgroup label="Alaskan/Hawaiian Time Zone">
                    <option value="HI">Hawaii</option>
                </optgroup>
                <optgroup label="Pacific Time Zone">
                    <option value="WA">Washington</option>
                </optgroup>
                <optgroup label="Central Time Zone">
                    <option value="IL">Illinois</option>
                </optgroup>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Category</label>
        <div class="col-md-6">
            <select data-plugin-selectTwo class="form-control populate">
                <optgroup label="Alaskan/Hawaiian Time Zone">
                    <option value="HI">Hawaii</option>
                </optgroup>
                <optgroup label="Pacific Time Zone">
                    <option value="WA">Washington</option>
                </optgroup>
                <optgroup label="Central Time Zone">
                    <option value="IL">Illinois</option>
                </optgroup>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="tags-input" class="col-md-3 control-label">Tags</label>
        <div class="col-md-7">
            <input name="tags" id="tags-input" data-role="tagsinput" data-tag-class="label label-primary" class="form-control" value="boolood,article" />
            <p>
                Put article tags here. Separate them by Enter click.
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label" for="textareaDefault">Title</label>
        <div class="col-md-6">
            <input class="form-control" data-plugin-maxlength maxlength="20" />
            <p>
                <code>max-length</code> set to 20.
            </p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="textareaDefault">Summary</label>
        <div class="col-md-6">
            <textarea class="form-control" rows="3" data-plugin-maxlength maxlength="140"></textarea>
            <p>
                <code>max-length</code> set to 140.
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-12 control-label">مقاله</label>
        <div class="col-md-12">
            <textarea id="summernote" name="editordata"></textarea>
        </div>
    </div>
    
    <input type="submit" value="Add Article" class="btn btn-primary"/>
</form>


@section scripts
{
    <!-- include summernote css/js -->

    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
    <script>
        $(function() {
            $('#summernote').summernote({
                height: 500,
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['Insert', ['picture', 'link', 'video', 'table', 'hr']],
                    ['Misc', ['fullscreen', 'codeview', 'undo', 'redo']]
                ],
                disableDragAndDrop: false,
                popover: {
                    image: [
                        ['imagesize', ['imageSize100', 'imageSize50', 'imageSize25']],
                        ['float', ['floatLeft', 'floatRight', 'floatNone']],
                        ['remove', ['removeMedia']]
                    ],
                    link: [
                        ['link', ['linkDialogShow', 'unlink']]
                    ]
                }
            });
            $('.dropdown-toggle').dropdown();
        });

    </script>
}